<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="openapi-common-lib.ZPM">
    <Module>
      <Name>openapi-common-lib</Name>
      <Version>1.0.2</Version>
      <Description>This library contains common code for openapi-client-gen and openapi-server-gen.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Dependencies>
        <ModuleReference>
          <Name>yaml-utils</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>swagger-converter-cli</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>swagger-validator-cli</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <Resource Name="dc.openapi.common.PKG"/>
    </Module>
  </Document>
</Export>